<div class="row">
    <div class="col-4">
        <img [src]="imgBaseURL+tvDetails?.poster_path" class="img-fluid rounded-lg" alt="">
    </div>
    <div class="col-8">
        <h1 class="pt-2 mb-5">{{tvDetails?.title}}{{tvDetails?.name}}</h1>
        <p class="text-muted my-5">{{tvDetails?.overview}}</p>
        <p  class="pt-2 mt-5">Status : {{tvDetails?.status}}</p>
        <p class="pt-2 my-2">Vote : {{tvDetails?.vote_average}}</p>
        <p class="pt-2 my-2">Vote count : {{tvDetails?.vote_count}}</p>
        <p class="pt-2 my-2">First air date : {{tvDetails?.first_air_date}}</p>
        
    </div>
</div>
