<div class="row">
    <div class="col-4">
        <img [src]="imgBaseURL+movieDetails?.poster_path" class="img-fluid rounded-lg" alt="">
    </div>
    <div class="col-8">
        <h1 class="pt-2 mb-5">{{movieDetails?.title}}{{movieDetails?.name}}</h1>
        <p class="text-muted my-5">{{movieDetails?.overview}}</p>
        <p  class="pt-2 mt-5">Status : {{movieDetails?.status}}</p>
        <p class="pt-2 my-2">Vote : {{movieDetails?.vote_average}}</p>
        <p class="pt-2 my-2">Vote count : {{movieDetails?.vote_count}}</p>
        <p class="pt-2 my-2">Release Data : {{movieDetails?.release_date}}</p>
    </div>
</div>